.navbar {
  position: sticky;
  // top: -1rem;
  z-index: 999;

  .nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2rem;
    padding: 1.5rem 1.5rem;
    // background-color: rgba(31, 31, 31, 0.288);
    background-color: rgba(255, 247, 239, 0.525);
    // backdrop-filter: blur(10px);
    li {
      cursor: pointer;
      transition: 0.2s ease-in;
      &:hover {
        font-size: 1.9rem;
        color: rgb(97, 97, 97);
      }
    }
  }
}

// hero //section 2

.herosection {
  display: flex;
  width: 100%;
  padding: 8rem 0;
  justify-content: center;
  position: relative;
  p {
    position: absolute;
    font-size: 1.5rem;
    color: rgb(130, 59, 84);
    font-weight: 600;
    left: 10rem;
  }
  span {
    position: absolute;
    bottom: 5rem;
    right: 10rem;
  }
  // background-color: rgba(255, 177, 74, 0.027);
  .heroTitle {
    width: 60%;
    text-align: center;
    line-height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 12rem;
      font-weight: bold;
    }
    .animate-title {
      transition: color 3s ease-in-out;
    }

    h2 {
      font-size: 12rem;
    }
  }
}
.aboutcomponent {
  margin: 5rem;
  .aboutsection {
    .infocomponent {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .abouttitle {
      width: fit-content;
      display: flex;
      align-items: center;
      border: 0.15rem solid black;
      border-radius: 1rem;
      padding: 0.2rem 4rem;
      // transition: 0.3s ease-in;
      &:hover {
        background-color: rgb(25, 25, 25);
        color: white;
      }
      // &::after {
      //   content: "";
      //   width: 0;
      //   background: black;
      //   height: 0.2rem;
      //   position: absolute;
      //   // left: 0;
      //   bottom: 0rem;
      //   transition: 0.3s;
      // }
      // &:hover::after {
      //   // scale: 0.8;
      //   // color: rgb(255, 0, 106);
      //   width: 12rem;
      // }

      h2 {
        font-size: 3rem;
        cursor: pointer;
        transition: 0.3s;
      }
    }

    p {
      width: 60%;
      text-align: center;
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 2rem;
      text-align: left;
      line-height: 3rem;
    }
  }
}

// Workssection
// section 4
.featureworkstitle {
  text-align: center;
  padding: 5rem 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  .featuretitle {
    display: flex;
  }
  .worktitle {
    margin-top: -2.5rem;
    display: flex;
  }
  h2 {
    font-size: 8rem;
  }
}
.Workssection {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  .singleproject {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    gap: 1rem;
    .singleprojectImage {
      display: flex;
      position: relative;
      gap: 2rem;

      b {
        font-size: 2rem;
      }
    }

    .imagerevelanimation {
      width: 37rem;
      height: 26rem;
      background-color: #574b43;

      z-index: 9999;
      position: absolute;
    }
    .redirectarroranimation {
      position: absolute;
      background: rgb(255, 255, 255);

      z-index: 9999;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      right: -2rem;
      bottom: 3rem;
      box-shadow: 0 0 10px 10px rgba(96, 81, 74, 0.114);

      display: flex;

      align-items: center;
      justify-content: center;
      p {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    img {
      width: 37rem;
      height: 26rem;
      object-fit: cover;
      filter: sepia(70%) brightness(0.8) grayscale(0.5);
      -webkit-filter: sepia(70%) brightness(0.8) grayscale(0.5);
      // filter: grayscale(0.9);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.6s ease-in-out;

      &:hover {
        filter: sepia(0%);
        -webkit-filter: sepia(0%);
        cursor: pointer;
      }
    }
  }
  .moreworktitle {
    position: relative;

    // width: fit-content;
    &::after {
      content: "";
      width: 0;
      background: black;
      height: 0.2rem;
      position: absolute;
      // left: 0;
      bottom: 0rem;
      transition: 0.3s;
    }
    &:hover::after {
      // scale: 0.8;
      // color: rgb(255, 0, 106);
      width: 16rem;
    }
  }
  .reverse {
    align-items: flex-start;
  }
  .row-reverse {
    flex-direction: row-reverse;
  }
}

//
//
//
.contactsection {
  margin: 10rem auto;
  padding-bottom: 4rem;
  width: 80%;

  h4 {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 2rem;
  }

  .social-links {
    margin-top: 3rem;
    ul {
      list-style: none;
      display: flex;
      justify-content: start;
      align-items: center;

      gap: 4rem;
      a {
        color: rgb(0, 0, 0);
        font-size: 2rem;
        font-weight: 700;
        text-decoration: none;
        transition: 0.3s ease-in;
        position: relative;
        &::after {
          content: "";
          width: 0;
          background: black;
          height: 0.2rem;
          position: absolute;
          left: 0;
          bottom: 0rem;
          transition: 0.3s;
        }
        &:hover::after {
          // scale: 0.8;
          // color: rgb(255, 0, 106);
          width: 100%;
        }
      }
    }
  }
}
.link {
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 8rem;
  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;

  /*  Set same font-size and line height  */
  font-size: 8rem;
  line-height: 8rem;
  font-weight: 700;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
  a {
    text-decoration: none;
    color: inherit;
  }
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
  a {
    text-decoration: none;
    color: inherit;
  }
}

/* Hover Action*/

/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-8rem);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
  transform: translate(16rem);
}

.link:hover .icon:nth-child(2) {
  transform: translate(0px);
}
@media screen and (max-width: 580px) {
  body,
  html {
    overflow-x: hidden;
  }
  .navbar {
    .nav-list {
      font-size: 1rem;
      padding: 1rem 1rem;
    }
  }
  .herosection {
    width: 100%;
    padding-top: 13rem;

    p {
      color: rgb(174, 28, 45);

      left: 1rem;
    }
    span {
      bottom: 3rem;
      right: 2rem;
    }
    // background-color: rgba(255, 177, 74, 0.027);
    .heroTitle {
      line-height: 4rem;

      h1 {
        font-size: 3.5rem;
      }
    }
  }
  .aboutcomponent {
    margin: 10rem auto 0 auto;
    .aboutsection {
      .infocomponent {
        width: 90%;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
      .abouttitle {
        width: fit-content;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 1rem;
        padding: 0.2rem 1rem;
        // transition: 0.3s ease-in;
        &:hover {
          background-color: rgb(25, 25, 25);
          color: white;
        }

        h2 {
          font-size: 1.5rem;
          cursor: pointer;
          transition: 0.3s;
        }
      }

      p {
        width: 100%;
        text-align: left;
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 1rem;
        text-align: left;
        line-height: 2rem;
        // word-spacing: 1rem;
      }
    }
  }
  .featureworkstitle {
    text-align: center;
    padding: 3rem 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    .featuretitle {
      display: flex;
    }
    .worktitle {
      margin-top: -1rem;
      display: flex;
    }
    h2 {
      font-size: 3rem;
    }
  }
  .Workssection {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .singleproject {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 0rem;
      b {
        font-size: 1.1rem !important;
      }
      .singleprojectImage {
        display: flex;
        position: relative;
        flex-direction: column;
        gap: 1rem;

        b {
          font-size: 1.1rem;
        }
      }

      .imagerevelanimation {
        width: 100%;
        height: 15rem;
        background-color: #574b43;

        z-index: 9999;
        position: absolute;
      }
      .redirectarroranimation {
        position: absolute;
        background: rgb(255, 255, 255);

        z-index: 9999;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        right: -2rem;
        bottom: 3rem;
        box-shadow: 0 0 10px 10px rgba(96, 81, 74, 0.114);

        display: flex;

        align-items: center;
        justify-content: center;
        p {
          font-size: 1.5rem;
          font-weight: 600;
        }
      }

      img {
        width: 100%;
        height: 15rem;
        object-fit: cover;
        filter: sepia(70%) brightness(0.8) grayscale(0.5);
        -webkit-filter: sepia(70%) brightness(0.8) grayscale(0.5);
        // filter: grayscale(0.9);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.6s ease-in-out;

        &:hover {
          filter: sepia(0%);
          -webkit-filter: sepia(0%);
          cursor: pointer;
        }
      }
    }
    .moreworktitle {
      position: relative;
      font-size: 1rem !important;
      // width: fit-content;
      &::after {
        content: "";
        width: 0;
        background: black;
        height: 0.2rem;
        position: absolute;
        // left: 0;
        bottom: 0rem;
        transition: 0.3s;
      }
      &:hover::after {
        // scale: 0.8;
        // color: rgb(255, 0, 106);
        width: 16rem;
      }
    }
    .reverse {
      align-items: flex-start;
    }
    .row-reverse {
      flex-direction: row-reverse;
    }
  }
  .contactsection {
    margin: 5rem auto;
    padding-bottom: 4rem;
    width: 90%;

    h4 {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 2rem;
    }

    .social-links {
      margin-top: 3rem;
      ul {
        list-style: none;
        display: flex;
        justify-content: start;
        align-items: center;

        gap: 1rem;
        a {
          color: rgb(0, 0, 0);
          font-size: 1.1rem;
          font-weight: 600;
          text-decoration: none;
          transition: 0.3s ease-in;
          position: relative;
          &::after {
            content: "";
            width: 0;
            background: black;
            height: 0.2rem;
            position: absolute;
            left: 0;
            bottom: 0rem;
            transition: 0.3s;
          }
          &:hover::after {
            // scale: 0.8;
            // color: rgb(255, 0, 106);
            width: 100%;
          }
        }
      }
    }
  }
  .mask {
    position: relative;
    padding: 0;
    height: 3rem;
    /*  Remove overflow to see how it works　:) */
    overflow: hidden;
  }
  .title {
    display: block;

    /*  Set same font-size and line height  */
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 700;
    transition: transform 0.4s ease;
  }
  .link-title2 {
    transform-origin: left center;
    transform: rotate(6deg);
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  .link:hover .link-container {
    transform: translateY(-3rem);
  }

  /* Rotate texts a little bit */
  .link:hover .link-title1 {
    transform: rotate(6deg);
  }

  .link:hover .link-title2 {
    transform: rotate(0);
  }

  /* Move arrows to right */
  .link:hover .icon:first-child {
    transform: translate(6rem);
  }

  .link:hover .icon:nth-child(2) {
    transform: translate(0px);
  }
}
