@charset "UTF-8";
.navbar {
  position: sticky;
  z-index: 999;
}
.navbar .nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2rem;
  padding: 1.5rem 1.5rem;
  background-color: rgba(255, 247, 239, 0.525);
}
.navbar .nav-list li {
  cursor: pointer;
  transition: 0.2s ease-in;
}
.navbar .nav-list li:hover {
  font-size: 1.9rem;
  color: rgb(97, 97, 97);
}

.herosection {
  display: flex;
  width: 100%;
  padding: 8rem 0;
  justify-content: center;
  position: relative;
}
.herosection p {
  position: absolute;
  font-size: 1.5rem;
  color: rgb(130, 59, 84);
  font-weight: 600;
  left: 10rem;
}
.herosection span {
  position: absolute;
  bottom: 5rem;
  right: 10rem;
}
.herosection .heroTitle {
  width: 60%;
  text-align: center;
  line-height: 12rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.herosection .heroTitle h1 {
  font-size: 12rem;
  font-weight: bold;
}
.herosection .heroTitle .animate-title {
  transition: color 3s ease-in-out;
}
.herosection .heroTitle h2 {
  font-size: 12rem;
}

.aboutcomponent {
  margin: 5rem;
}
.aboutcomponent .aboutsection .infocomponent {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aboutcomponent .aboutsection .abouttitle {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  border: 0.15rem solid black;
  border-radius: 1rem;
  padding: 0.2rem 4rem;
}
.aboutcomponent .aboutsection .abouttitle:hover {
  background-color: rgb(25, 25, 25);
  color: white;
}
.aboutcomponent .aboutsection .abouttitle h2 {
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s;
}
.aboutcomponent .aboutsection p {
  width: 60%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  text-align: left;
  line-height: 3rem;
}

.featureworkstitle {
  text-align: center;
  padding: 5rem 0;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.featureworkstitle .featuretitle {
  display: flex;
}
.featureworkstitle .worktitle {
  margin-top: -2.5rem;
  display: flex;
}
.featureworkstitle h2 {
  font-size: 8rem;
}

.Workssection {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 6rem;
}
.Workssection .singleproject {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 1rem;
}
.Workssection .singleproject .singleprojectImage {
  display: flex;
  position: relative;
  gap: 2rem;
}
.Workssection .singleproject .singleprojectImage b {
  font-size: 2rem;
}
.Workssection .singleproject .imagerevelanimation {
  width: 37rem;
  height: 26rem;
  background-color: #574b43;
  z-index: 9999;
  position: absolute;
}
.Workssection .singleproject .redirectarroranimation {
  position: absolute;
  background: rgb(255, 255, 255);
  z-index: 9999;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  right: -2rem;
  bottom: 3rem;
  box-shadow: 0 0 10px 10px rgba(96, 81, 74, 0.114);
  display: flex;
  align-items: center;
  justify-content: center;
}
.Workssection .singleproject .redirectarroranimation p {
  font-size: 1.5rem;
  font-weight: 600;
}
.Workssection .singleproject img {
  width: 37rem;
  height: 26rem;
  -o-object-fit: cover;
     object-fit: cover;
  filter: sepia(70%) brightness(0.8) grayscale(0.5);
  -webkit-filter: sepia(70%) brightness(0.8) grayscale(0.5);
  transition: 0.6s ease-in-out;
}
.Workssection .singleproject img:hover {
  filter: sepia(0%);
  -webkit-filter: sepia(0%);
  cursor: pointer;
}
.Workssection .moreworktitle {
  position: relative;
}
.Workssection .moreworktitle::after {
  content: "";
  width: 0;
  background: black;
  height: 0.2rem;
  position: absolute;
  bottom: 0rem;
  transition: 0.3s;
}
.Workssection .moreworktitle:hover::after {
  width: 16rem;
}
.Workssection .reverse {
  align-items: flex-start;
}
.Workssection .row-reverse {
  flex-direction: row-reverse;
}

.contactsection {
  margin: 10rem auto;
  padding-bottom: 4rem;
  width: 80%;
}
.contactsection h4 {
  font-size: 1.7rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.contactsection .social-links {
  margin-top: 3rem;
}
.contactsection .social-links ul {
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 4rem;
}
.contactsection .social-links ul a {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s ease-in;
  position: relative;
}
.contactsection .social-links ul a::after {
  content: "";
  width: 0;
  background: black;
  height: 0.2rem;
  position: absolute;
  left: 0;
  bottom: 0rem;
  transition: 0.3s;
}
.contactsection .social-links ul a:hover::after {
  width: 100%;
}

.link {
  align-items: center;
  color: #000;
  text-decoration: none;
  display: flex;
}

/* Hide extra text */
.mask {
  position: relative;
  padding: 0;
  height: 8rem;
  /*  Remove overflow to see how it works　:) */
  overflow: hidden;
}

.link-container {
  transition: transform 0.4s ease;
}

.title {
  display: block;
  /*  Set same font-size and line height  */
  font-size: 8rem;
  line-height: 8rem;
  font-weight: 700;
  transition: transform 0.4s ease;
}

.link-title1 {
  transform-origin: right center;
}
.link-title1 a {
  text-decoration: none;
  color: inherit;
}

.link-title2 {
  transform-origin: left center;
  transform: rotate(20deg);
}
.link-title2 a {
  text-decoration: none;
  color: inherit;
}

/* Hover Action*/
/* Move up two texts (20px = font-size) */
.link:hover .link-container {
  transform: translateY(-8rem);
}

/* Rotate texts a little bit */
.link:hover .link-title1 {
  transform: rotate(20deg);
}

.link:hover .link-title2 {
  transform: rotate(0);
}

/* Move arrows to right */
.link:hover .icon:first-child {
  transform: translate(16rem);
}

.link:hover .icon:nth-child(2) {
  transform: translate(0px);
}

@media screen and (max-width: 580px) {
  html {
    overflow-x: hidden;
    font-size: 30%;
  }
}/*# sourceMappingURL=style.css.map */