.navbar {
  position: sticky;
  // top: -1rem;
  z-index: 999;

  .nav-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 2rem;
    padding: 1.5rem 1.5rem;
    // background-color: rgb(255, 249, 242);
    // backdrop-filter: blur(20px);
  }
}

// hero //section 2

.herosection {
  display: flex;
  width: 100%;
  padding: 8rem 0;
  justify-content: center;
  position: relative;
  p {
    position: absolute;
    font-size: 1.5rem;
    color: rgb(130, 59, 84);
    font-weight: 600;
    left: 10rem;
  }
  span {
    position: absolute;
    bottom: 5rem;
    right: 10rem;
  }
  // background-color: rgba(255, 177, 74, 0.027);
  .heroTitle {
    width: 60%;
    text-align: center;
    line-height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 12rem;
      font-weight: bold;
    }
    .animate-title {
      transition: color 3s ease-in-out;
    }

    h2 {
      font-size: 12rem;
    }
  }
}
.aboutcomponent {
  margin: auto;
  .aboutsection {
    .Marquee {
    }
    .infocomponent {
      width: 80%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    h2 {
      font-size: 3rem;
      // margin: 5rem 0;
    }
    p {
      width: 50%;
      text-align: center;
      font-size: 1.5rem;
    }
  }
}

// Workssection
// section 4
.featureworkstitle {
  text-align: center;
  padding: 5rem 0;
  margin: auto;
  font-size: 7rem;
}
.Workssection {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 11rem;

  .singleproject {
    display: flex;
    justify-content: end;
    align-items: flex-start;

    gap: 1rem;
    .singleprojectImage {
      display: flex;
      position: relative;
      gap: 2rem;
    }
    b {
      font-size: 2rem;
    }
    .imagerevelanimation {
      width: 35rem;
      height: 25rem;
      background-color: #574b43;

      z-index: 9999;
      position: absolute;
    }
    .redirectarroranimation {
      position: absolute;
      background: rgb(255, 255, 255);
      width: 6rem;
      z-index: 9999;
      height: 6rem;
      border-radius: 50%;
      right: -2rem;
      bottom: 3rem;
      box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.146);

      display: flex;

      align-items: center;
      justify-content: center;
    }

    img {
      width: 35rem;
      height: 25rem;
      object-fit: cover;
      -webkit-filter: sepia(60%);
      filter: grayscale(0.9);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.6s ease-in-out;

      &:hover {
        -webkit-filter: grayscale(0%);
        cursor: pointer;
      }
    }
  }
  .reverse {
    justify-content: start;
    flex-direction: row-reverse;
  }
}
