.cursor {
  width: 28rem;
  height: 23rem;
  pointer-events: none;

  /* left: 50%;
  top: 50%; */
  /* z-index: 1; */
  translate: -50% -50%;

  background: linear-gradient(
    to left,
    rgba(255, 0, 123, 0.5),
    rgba(255, 124, 64, 0.5)
  );
  animation: rotate 10s infinite;
  filter: blur(110px);
}

@keyframes rotate {
  0% {
    rotate: 0deg;
    scale: 0.9;
    border-radius: 40% 43% 56% 23%;
  }
  25% {
    scale: 1;
    border-radius: 56% 46% 36% 34%;
  }
  50% {
    scale: 1.1;

    border-radius: 54% 54% 73% 45%;
  }
  75% {
    scale: 1;
    border-radius: 54% 63% 64% 59%;
  }
  100% {
    rotate: 360deg;
    scale: 0.9;
    border-radius: 40% 43% 56% 23%;
  }
}
.line {
  height: 100vh;
  width: 1px;
  /* background: linear-gradient(to bottom, #4c4c4c91, #ffffff); */
  background: linear-gradient(to bottom, #4c4c4c91, #ffffff00);
  position: absolute;
  top: 0;
}

.line:nth-child(1) {
  left: 10%;
}

.line:nth-child(2) {
  left: 20%;
}

.line:nth-child(3) {
  left: 30%;
}

.line:nth-child(4) {
  left: 40%;
}

.line:nth-child(5) {
  left: 50%;
}

.line:nth-child(6) {
  left: 60%;
}

.line:nth-child(7) {
  left: 70%;
}
.line:nth-child(8) {
  left: 80%;
}
.line:nth-child(9) {
  left: 90%;
}
@media screen and (max-width: 580px) {
  .cursor {
    width: 0rem;
    height: 0rem;
    pointer-events: none;

    /* left: 50%;
    top: 50%; */
    /* z-index: 1; */
    translate: -50% -50%;

    background: linear-gradient(to left, rgb(255, 0, 123), rgb(255, 125, 64));
    animation: rotate 10s infinite;
    filter: blur(110px);
  }
  .line {
    height: 100vh;
    width: 0.9px;
    /* background: linear-gradient(to bottom, #4c4c4c91, #ffffff); */
    background: linear-gradient(to bottom, #8d8d8d6b, transparent);
    position: absolute;
    top: 0;
    z-index: -111;
  }
}
