.cursor {
  position: absolute;
  width: 25rem;
  height: 20rem;

  pointer-events: none;

  /* left: 50%;
  top: 50%; */
  z-index: 1;
  translate: -50% -50%;
  background: linear-gradient(to left, rgb(255, 0, 123), rgb(255, 125, 64));
  animation: rotate 10s infinite;
  filter: blur(110px);
}

@keyframes rotate {
  0% {
    rotate: 0deg;
    scale: 0.9;
    border-radius: 40% 43% 56% 23%;
  }
  25% {
    scale: 1;
    border-radius: 56% 46% 36% 34%;
  }
  50% {
    scale: 1.1;

    border-radius: 54% 54% 73% 45%;
  }
  75% {
    scale: 1;
    border-radius: 54% 63% 64% 59%;
  }
  100% {
    rotate: 360deg;
    scale: 0.9;
    border-radius: 40% 43% 56% 23%;
  }
}
